{
    "printWidth": 120,
    "tabWidth": 4,
    "wrapAttributes": "auto",
    "sortTailwindcssClasses": true,
    "sortHtmlAttributes": "none",
    "noPhpSyntaxCheck": false,
    "singleQuote": true,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": true
}
